*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}

.navbar{
    height: 11vh;
    width: 100%;
}

input{
    width: 250px;
    height: 40px;
    font-size: 120%;
}

.navbar i{
    color: turquoise;
    font-size: 300%;
}
.fixed{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100% ;
    padding: 10px;
    border-bottom: 2px solid cyan;
    background-color: black;
}
#mainpage{
    position: relative;
    left: -5%;
    color: white;
}

.help{
    color: tomato;
    border: thistle solid 2px;
    border-radius: 20px;
    padding: 12px;
}
.search{
    display: flex;
    align-items: center;
}
.logo{
    width: 100%;
    height: 30vh;
    text-align: center;
    /* padding: 50px; */
}
i{
    font-size: 600%;
}
.signin{
    width: 40%;
    height: 40vh;
    background-color: rgb(217, 232, 235);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 30%;  
    margin-bottom: 40px;
}
.signin p, signin input{
    margin-bottom: 10px;
}
.signin input{
    width: 300px;
    padding: 5px 20px;
    border: solid 2px snow;
    border-radius: 20px;
}
.signin-btn{
    position: relative;
    bottom: -20px;
    border: solid 2px rgb(57, 157, 197);
    padding: 6px 110px;
    border-radius: 20px;
    background-color: rgb(63, 206, 206);
}
.signup{
    border: 2px solid rgb(221, 186, 132);
    border-radius: 15px;
    width: 40%;
    margin: 0 30%;
    padding: 15px;
}
.signup a{
    color: rgb(26, 84, 192);
}
.signup a:hover{
    border-bottom: 1px solid rgb(26, 84, 192);
}